<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather App</title>
</head>
<body>
	<h1>Weather App</h1>
	<form method="post">
		<label for="city">City:</label>
		<input type="text" id="city" name="city" placeholder="Enter City Name">
		<buton type="submit">Get Weather</button>
	</form>
	{% if weather_data %}
	<div>
		<h2>{{ weather_data.name }}</h2>
		<p>{{ weather_data.weather[0].description }}</p>
		<p>Temperature: {{ weather_data.main.temp }}&deg;C</p>
	</div>
	{% endif %}
</body>
</html>
